<!DOCTYPE html>                                             
<html> 
  <head> 
    <title><%= title %></title> 
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
  </head> 
  <body> 
    <h1>cmd <%= title %></h1> 
    <form id='target'action='cmd'> 
      <input id='target_input' name='cmd' type='text'> 
      <input type='submit' value='submit'> 
    </form> 
    <h1><%= data %></h1> 
  </body> 
</html>