<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
		// 쿠키를 이용한 방법
    var en_data = "<%= data %>";
    document.cookie = "en_data="+en_data+";path=/; max-age=3600";
    </script>
    <script type="text/javascript">
    location.href="/mypage" ;
    </script>
</body>
</html>