<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>친구추가</h1>
    <form action="/user/friend/post" method="post">
    <input type="text" id="text_add" name="account_number"/>
    <button type="submit">추가</button>
    <button type="submit">삭제</button>
    </form>

</body>
</html>