<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <form action="/chan/login/post" method="post">
    <div class="wrap">
        <div class="login">
            <h2>Log-in</h2>
            <div class="login_id">
                <h4>ID</h4>
                <input type="id" name="username" id="" placeholder="id">
            </div>
            <div class="login_pw">
                <h4>Password</h4>
                <input type="password" name="password" id="" placeholder="Password">
            </div>
            </div>
            <div class="login">
                <br/> <input type="submit" value="로그인"> <a href="./signup">회원가입</a>
            </div>
        </div>
    </div>
    </form>
</body>
</html>