<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>login</h1>
    
    <a href="./user/signup">회원가입</a>
    <h1>광고</h1>
    <h1>입출금</h1>
    <a href="./transactions/view">입출금 내역 확인</a><br>
    <a href="./balance/transfer">송금</a>

    <h1>친구추가</h1>

    <a href="./chan/login">로그인</a>
    
    <a href="./chan/friend">친구페이지</a>

    <h1>팬딩</h1>
    <h1>관리자</h1>
    <h1>마이페이지</h1>
    <h1>공지페이지</h1>

  </body>
</html>
