<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>마이 페이지</h1>
    <table border="1">
        <th>username</th>
        <th>account_number</th>
        <th>balance</th>
        <th>is_admin</th>
        <tr>
            <td><%=pending.data.username%></td>
            <td><%=pending.data.account_number%></td>
            <td><%=pending.data.balance%></td>
            <td><%=pending.data.is_admin%></td>            
        </tr>
    </table>
</body>
</html>