<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    </style>
</head>
<body>


    <div class="w3-black" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
          <h2 class="w3-wide w3-center">댐 버너러블 뱅크</h2>
          <p class="w3-opacity w3-center"><i>댐 버너러블 뱅크에 오신것을 환영합니다.</i></p><br>
    
          <ul class="w3-ul w3-border w3-white w3-text-grey">
            <li class="w3-padding">username <span class="w3-tag w3-red w3-margin-left"><%=pending.data.username%></span></li>
            <li class="w3-padding">account_number <span class="w3-tag w3-red w3-margin-left"><%=pending.data.account_number%></span></li>
            <li class="w3-padding">balance <span class="w3-tag w3-red w3-margin-left"><%=pending.data.balance%></span></li>
            <li class="w3-padding">is_admin <span class="w3-badge w3-right w3-margin-right"><%=pending.data.is_admin%></span></li>
          </ul>
    
          <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
            <div class="w3-third w3-margin-bottom">
          <img src="/img/snake.jpg" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>1.친구추가</b></p>
            <p class="w3-opacity">친구추가를 해보세요.</p>
            <p>관리자가 승인해줄때까진 친구추가를 못합니다.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">이동하기</button>
          </div>
        </div>

        <div class="w3-third w3-margin-bottom">
          <img src="/img/snake.jpg" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>2.내 친구확인</b></p>
            <p class="w3-opacity">내 친구를 확인해보세요.</p>
            <p>관리자가 승인해주지 않으면 친구가 송금을 못합니다.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">이동하기</button>
          </div>
        </div>

        <div class="w3-third w3-margin-bottom">
            <img src="/img/snake.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>3.게시판</b></p>
              <p class="w3-opacity">게시판 입니다.</p>
              <p>왜 있는지 모르겠는 오픈뱅크시스템의 게시판.</p>
              <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">이동하기</button>
            </div>
          </div>

          <div class="w3-third w3-margin-bottom">
            <img src="/img/snake.jpg" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
              <p><b>4.고객센터</b></p>
              <p class="w3-opacity">QNA.</p>
              <p>관리자에게 질의사항을 남겨보세요.</p>
              <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">이동하기</button>
            </div>
          </div>  

        <div class="w3-third w3-margin-bottom">
          <img src="/img/snake.jpg"  style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>5.ㅇㅇㅇ</b></p>
            <p class="w3-opacity">ㅇㅇㅇ</p>
            <p>ㅇㅇㅇㅇㅇㅇㅇㅇㅇ</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">이동하기</button>
          </div>
        </div>
          </div>
        </div>
      </div>
   
</body>
</html>