<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/chan/signup/post" method="post">
    <h7>환영합니다 :)</h7>
    <p>
        <input type="text" name="username" placeholder="username">
    </p>
    <p>
        <input type="password" name="password" placeholder="password">
    </p>
    <p>
        <input type="submit" value="회원가입">
    </p>
</form>
</body>
</html>
