<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../javascripts/loginsuccess.js"></script>
</head>
<body>
<!--<form action="/user/register" method="post">-->
<div id="login">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="text" name="account_number" placeholder="account_number">
        <button onclick="Login()">제출</button>
</div>
</body>
</html>
