<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../javascripts/loginsuccess.js"></script>
</head>
<body>

<form action="/chan/signup/post" method="post">
    <h7>환영합니다 :)</h7>
    <p>

        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">

    </p>
    <p>
        <input type="submit" value="회원가입">
    </p>
</form>
</body>
</html>
