<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/user/register" method="post">
    <p>
        <input type="text" name="username" placeholder="username">
    </p>
    <p>
        <input type="password" name="password" placeholder="password">
    </p>
    <p>
        <input type="text" name="account_number" placeholder="account_number">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
</body>
</html>
