<!DOCTYPE html>
<html lang="en">
    <%- include("../common/header") %>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" margin ="auto">
        <form action="/notice/writeBoard/write" method="post" role="form" class="php-email-form">
      
          <div class="form-group">
            <label for="name">제목</label>
            <input type="text" class="form-control" name="title" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">본문</label>
            <textarea class="form-control" name="contents" rows="10" required></textarea>
          </div>
        
          <div class="text-center"><button type="submit">공지사항 등록</button></div>
        </form>
      </div>
</body>
<%- include("../common/footer") %>
</html>